!!! XHTML
%html
  %head
    %title= @title
  %body
    %h1= @title
    %h2 Install Android App
    %a{:href => "https://play.google.com/store/apps/details?id=org.ubif.goldfish"} Android Market
    %h2 Start
    %a{:href => "#{app_root}/start"} start goldfish
    %h2 tags
    %a{:href => "#{app_root}/tag"} view tags
    %h2 samples
    %ul
      %li
        %a{:href => app_root+'/sample'} sensor value
      %li
        %a{:href => app_root+'/samples/orientation'} pitch and roll
      %li
        %a{:href => app_root+'/samples/tcp_chat'} TCP chat
      %li
        %a{:href => app_root+'/samples/udp_mouse'} UDP mouse
      %li
        %a{:href => app_root+'/samples/udp_touchpad'} UDP touchpad
    %hr
    - url = 'https://github.com/shokai/goldfish'
    %a{:href => url}= url
