- content_for :header do
  %h1= @title

%h2 はじめに
%ul
  %li
    %a{:href => "#{app_root}/about"} GoldFishとは
  %li
    %a{:href => "#{app_root}/start"} GoldFishでアプリを作る

%h2 インストール
%ul
  %li
    %a{:href => "#{app_root}/tutorial/install"} GoldFishのインストールと、使用できるNFCタグ
  %li
    %a{:href => "https://github.com/shokai/goldfish/releases"}
      Android App

%h2 アプリの登録
%ul
  %li
    %a{:href => "#{app_root}/tag"} NFCタグにアプリを登録
%h2 サンプルプログラム
%ul
  %li
    %a{:href => app_root+'/sample'} sensor value
  %li
    %a{:href => app_root+'/samples/orientation'} pitch and roll
  %li
    %a{:href => app_root+'/samples/tcp_chat'} TCP chat
  %li
    %a{:href => app_root+'/samples/udp_mouse'} UDP mouse
  %li
    %a{:href => app_root+'/samples/udp_touchpad'} UDP touchpad
