!!! XHTML
%html
  %head
    %title= "#{@title} - tag"
    :css
      table#tags {
      }
      table#tags td {
        background-color : #FFC;
        padding : 5px;
      }
    :javascript
      var app_root = "#{app_root}";
    %script{:type => 'application/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/nfctag_index.js"}
  %body
    %a{:href => app_root}= @title
    %h1 add new tag
    %input{:type => :text, :value => 'tagname', :id => 'text_tag', :size => 30}
    %input{:type => :button, :value => 'add', :id => 'btn_add_tag'}
    %h1 tags
    %table#tags
      %tr
        %th id
        %th URL
        %th title
        %th description
      - @tags.each do |tag|
        %tr
          %td= tag.hex_id
          %td
            %a{:href => tag.url}
              - url = tag.url
              - url_limit = 50
              - url = url[0...url_limit]+'...' if url.size > url_limit
              #{url}
          %td= tag.title
          %td= tag.description
          %td
            %a{:href => "#{app_root}/tag/#{tag.hex_id}/edit"} [edit]
        
