!!!XHTML
%html
  %head
    %title= "#{@title} - sample"
    :javascript
      var tag = "#{@tag}";
    %script{:type => 'application/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/gynamic.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/sample.js"}
  %body
    %h1= "#{@title} sample"
    %h2 Sensors
    %h3 Accelerometer
    %ul#accelerometer
      %li.x
        %span.label x
        %span :
        %span.value 0
      %li.y
        %span.label y
        %span :
        %span.value 0
      %li.z
        %span.label x
        %span :
        %span.value 0
    %h3 Gyroscope
    %ul#gyroscope
      %li.x
        %span.label x
        %span :
        %span.value 0
      %li.y
        %span.label y
        %span :
        %span.value 0
      %li.z
        %span.label z
        %span :
        %span.value 0
    %h2 Log
    %ul#log
