!!!XHTML
%html
  %head
    %title= "#{@title} - sample"
    :javascript
      var tag = "#{@tag}";
    %script{:type => 'application/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/gynamic.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/sample.js"}
  %body
    %h1= "#{@title} sample"
    %div#accelerometer
    %ul#log
