!!!XHTML
%html
  %head
    %title= "#{@title} - tag:#{@tag}"
    :javascript
      var tag = "#{@tag}";
    %script{:type => 'application/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'application/javascript', :src => "#{app_root}/js/tag.js"}
  %body
    %h1= "#{@title} - tag:#{@tag}"
